<section class="bg-white dark:bg-black h-[100dvh] flex items-center justify-center">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <h1
        class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-black dark:text-white"
      >
        404
      </h1>
      <p
        class="mb-4 text-xl tracking-tight font-medium text-neutral-900 md:text-4xl dark:text-white"
      >
        Page Not Found.
      </p>
      <p class="mb-4 text-lg font-light text-neutral-500 dark:text-neutral-400">
        Sorry, we can't find that page.
      </p>
      <a
        href="/"
        class="inline-flex text-white bg-neutral-600 hover:bg-neutral-800 focus:ring-4 focus:outline-none focus:ring-neutral-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-neutral-900 my-4"
        >Back to Home</a
      >
    </div>
  </div>
</section>
