---
import BCFLogo from "./BCFLogo.astro"
import GuitHub from "./icons/GuitHub.astro"
import NPM from "./icons/NPM.astro"
---

<!-- momentaniamente permanecera absolute -->
<header
  class="absolute top-0 w-full bg-white border-b border-neutral-200 dark:border-neutral-900 dark:bg-black/50 backdrop-blur"
>
  <nav
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <BCFLogo className="h-8 dark:fill-white" />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >Bundle Creator File</span
      >
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-neutral-500 rounded-lg md:hidden hover:bg-neutral-100 focus:outline-none focus:ring-2 focus:ring-neutral-200 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:ring-neutral-600"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div class="hidden w-full md:flex gap-20 md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col md:justify-center md:items-center p-4 md:p-0 mt-4 border border-neutral-100 rounded-lg bg-neutral-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-neutral-800/50 md:dark:bg-transparent dark:border-neutral-700"
      >
        <li>
          <a
            href="#"
            class="block py-2 px-3 text-white bg-neutral-700 rounded md:bg-transparent md:text-neutral-700 md:p-0 dark:text-white md:dark:text-neutral-500 transition-all hover:scale-110"
            aria-current="page">Home</a
          >
        </li>

        <li>
          <a
            target="_blank"
            href="https://github.com/joshtin2505/bc-files#readme"
            class="block py-2 px-3 text-neutral-900 rounded hover:bg-neutral-100 md:hover:bg-transparent md:border-0 md:hover:text-neutral-700 md:p-0 dark:text-white md:dark:hover:text-neutral-500 dark:hover:bg-neutral-700 dark:hover:text-white md:dark:hover:bg-transparent transition-all hover:scale-110"
            >Docs</a
          >
        </li>
      </ul>
      <div class="flex gap-5 justify-center items-center">
        <a target="_blank" href="https://github.com/joshtin2505/bc-files">
          <GuitHub className="w-6 h-6 dark:fill-white fill-black hover:fill-neutral-800 dark:hover:fill-neutral-300 transition-all hover:scale-110" />
        </a>
        <a target="_blank" href="https://www.npmjs.com/package/bcfiles">
          <NPM className="w-8 h-w-8 hover:opacity-80 transition-all hover:scale-110" />
        </a>
      </div>
    </div>
  </nav>
</header>
<script>
  import { Collapse } from "flowbite"
</script>
