---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Bundle Creator Files - Create bunch of folders and files</title>
	<meta name="robots" content="index, follow">
	<meta property="article:author" content="Joshtin.Dev">
	<meta name="title" content="Bundle Creator Files">
    <meta
	name="description"
	content="Save time with this package. Create bunch of folders and files in your projects quickly and structure your project. - Developed in Typescript"
    />
    <meta
	name="keywords"
	content="Node.js, TypeScript, create folders, file management, npm package"
    />
    <meta name="generator" content={Astro.generator} />
	<!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<!-- OPEN GRAPH -->
	<meta property="og:title" content="Bundle Creator Files" />
	<meta property="og:description" content="Save time with this package. Create bunch of folders and files in your projects quickly and structure your project." />
	<meta property="og:type" content="website">
	<meta property="og:image" content="/ogImg.png">
	<meta property="og:image:alt" content="WebMockup">
	<!--  -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Bundle Creator Files - Create bunch of folders and files">
	<meta name="twitter:description" content="Save time with this package. Create bunch of folders and files in your projects quickly and structure your project.">
	<meta name="twitter:image" content="/ogImg.png">
	<meta name="twitter:image:alt" content="WebMockup">
	<meta name="twitter:creator" content="Joshtin.Dev">

	<link rel="canonical" href="https://bcfiles.vercel.app/">

  </head>
  <body class="dark:bg-black bg-neutral-100 dark:text-white relative">
    <slot />
  </body>
</html>
