---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/bcf.png" />
    <meta
      name="description"
      content="Save time with this package. Create bunch of folders and files in your projects quickly and structure your project. - Developed in Typescript"
    />
    <meta
      name="keywords"
      content="Node.js, TypeScript, create folders, file management, npm package"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
	<!-- OPEN GRAPH -->
	<meta property="og:title" content="Bundle Creator Files - Create bunch of folders and files" />
	<meta property="og:description" content="Save time with this package. Create bunch of folders and files in your projects quickly and structure your project." />
	<meta property="og:type" content="website">
	<meta property="og:image" content="/ogImg.png">
	<meta property="og:image:alt" content="WebMockup">
	<meta property="article:author" content="Joshtin.Dev">
	<link rel="canonical" href="https://bcfiles.vercel.app/">

    <title>Bundle Creator Files</title>
  </head>
  <body class="dark:bg-black bg-neutral-100 dark:text-white relative">
    <slot />
  </body>
</html>
