---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/bcf.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bundle Creator Files</title>
	</head>
	<body class="dark:bg-black bg-neutral-100 dark:text-white">    
        <slot/>
	</body>
</html>
